<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darkstorm</title>
    <link href="{{ url_for ('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for ('static', filename='css/members.css') }}" rel="stylesheet">
</head>
<body>
  <div class="container">
  <header class="justify-content-center py-3 mb-4 border-bottom">

    <h3>Welcome {{ username }}</h3>
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/members" class="nav-link" aria-current="page">All Members</a></li>
    <li class="nav-item"><a href="/arzon" class="nav-link">Arzon</a></li>
    <li class="nav-item"><a href="/darkstorm" class="nav-link active">Darkstorm</a></li>
    <li class="nav-item"><a href="/leoric" class="nav-link">Leoric</a></li>
    <li class="nav-item"><a href="#" class="nav-link">&nbsp;</a></li>
    <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
    
  </ul>
</header>
    <h1 class="text-center">Darkstorm</h1>
        <div class="card shadow-sm">
          <img width="400" height="400" src="{{ url_for ('static', filename='img/darkstorm.png') }}">
          <div class="card-body">
            <p class="card-text">By what creeps, what crawls, by what does not, Let all that grows recede and rot!!</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">- Darkstorm</small>
            </div>
          </div>
        </div>
      </div>
</body>
</html>