<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for ('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for ('static', filename='css/headers.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="justify-content-center py-3 mb-4 border-bottom">

        <h3>Welcome {{ username }}</h3>
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/members" class="nav-link active" aria-current="page">All Members</a></li>
            <li class="nav-item"><a href="/arzon" class="nav-link">Arzon</a></li>
            <li class="nav-item"><a href="/darkstorm" class="nav-link">Darkstorm</a></li>
            <li class="nav-item"><a href="/leoric" class="nav-link">Leoric</a></li>
            <li class="nav-item"><a href="#" class="nav-link">&nbsp;</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
            
          </ul>
        </header>
        

        <h2>Members</h2>
        <div>
            <ul><h3>Arzon</h3>
                <li>ID: 12211</li>
                <li>Pass: c2509a04559b9ed9e0217d5a0f52f843</li>
            </ul>
            <ul><h3>Darkstorm</h3>
                <li>ID: 12212</li>
                <li>Pass: 243a3afa44aed85d504dbd53fd9804e9</li>
            </ul>
            <ul><h3>Leoric</h3>
                <li>ID: 12213</li>
                <li>Pass: 8c23b2b86573edf2a5ea482c2ccc1497</li>
            </ul>
        </div>
    </div>
    
</body>
</html>